/*основний колір тексту #212121; */
/*колір тексту заголовка #757575; */
/*акцент #2196F3; */
/* колір h1, лого в футері та адреси #FFFFFF; */
/*колір телефону та ел.адреси в футері rgba(255, 255, 255, 0.6);*/
/*логотип #000000;*/
/*колір основного фону #F5F5F5;*/
/*вторинний колір фону #F5F4FA;*/
/*колір шапки та футера #2F303A;*/
/*font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/

:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --subject-color: #ffffff;
  --footer-link-color: rgba(255, 255, 255, 0.6);
  --logo-color: #000000;
  --primary-bg-color: #f5f5f5;
  --secondary-bg-color: #f5f4fa;
  --nav-bg-color: #2f303a;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-bg-color);
  color: var(--title-text-color);
}

.site-nav,
.contacts,
.features-list,
.specialty-list,
.user-list,
.buttons,
.filter {
  list-style: none;
}


/*---------------------------Верхня лінія------------------------------*/
.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  margin-right: auto;
  display: flex;
  align-items: center;
}

.header-nav {
  padding-top: 24px;
  padding-bottom: 25px;
  background-color: var(--subject-color);
}

.header-nav a {
  text-decoration: none;
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-header {
  color: var(--logo-color);
}

.site-nav .link,
.buttons .button {
  color: var(--primary-text-color);
}

.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.02em;
  display: flex;
  gap: 50px;  
  margin-left: 93px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav,
.link:hover,
.link:focus {
  color: var(--accent-color);
}

.contacts {
  display: flex;
  align-items: center;
}

.contacts .contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin-left: 50px;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

/*---------------------------------Шапка------------------------------*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--nav-bg-color);
}

.hero-title {
  padding: 0px 280px 0px 280px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--subject-color);
  margin-bottom: 30px;
}

.hero-button {
  min-width: 216px;
  height: 50px;
  display: block;
  margin: 0 auto;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--subject-color);
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.hero-button:hover,
.hero-button:focus {
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
}

/*------------------------------Особливості--------------------------*/
/*.section-features {
  background-color: var(--primary-bg-color);
}*/
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features .features-title {
  color: var(--primary-text-color);
}

.features-title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.1429;
  letter-spacing: 0.03em;
}

.features-list {
  display: flex;
  /*padding: 0px 250px;*/
  gap: 30px;
}

.features-list p {
  font-size: 14px;
  line-height: 1.7143;
  letter-spacing: 0.03em;
  display: flex;
  gap: 30px;
}

/*--------------------------------Чим ми займаємося------------------*/
.specialty {
  padding-bottom: 95px;
}

.heading {
  text-align: center;
  font-size: 36px;
  line-height: 1.1667;
  letter-spacing: 0.03em;
}
.specialty .heading {
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.specialty-list {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}


/*-----------------------------------Наша команда------------------*/
.section-user {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bg-color);
}

.section-user .heading {
  margin-bottom: 50px;
  color: var(--primary-text-color);
}

.user-image {
  margin-bottom: 30px;
}

.user-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}
.user-list p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  text-align: center;
}

.user-list {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 30px;
}

/*.user-list p:last-of-type {
  margin-bottom: 0;
  color: #2196f3;
}*/

/*---------------------------------Футер--------------------------------*/
.footer-nav {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--nav-bg-color);
}

.footer-nav .footer {
  margin-bottom: 20px;
}

.footer-nav a {
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-nav a:last-child {
  margin-bottom: 0;
}

.foorer-logo,
.addres {
  color: var(--subject-color);
}
.nav-link {  
  color: var(--footer-link-color);
}

.addres,
.nav-link {
  font-size: 14px;
  line-height: 1.7143;
  letter-spacing: 0.03em;
  font-style: normal;
}

.addres:hover,
.addres:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}


/*--------------------------------Портфоліо------------------------------*/
.filter-button {
  padding-top: 180px;
  padding-bottom: 50px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 50px;
}

.button-filters {
  align-items: center;
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--secondary-bg-color);
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-filters:hover,
.button-filters:focus {
  color: var(--subject-color);
  background-color: var(--accent-color);
}

.button-filters.current {
  color: var(--subject-color);
  background-color: var(--accent-color);
}

.filter .filter-list {
  background-color: var(--subject-color);
}

.filter-image {
  margin-bottom: 20px;
}

.section-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.filter-text {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.filter-text .text p{
  margin-bottom: 0;
}
/*.filter-text:last-child {
  margin-bottom: 0;
}*/
/*:not(:last-child)*/